.dealsection {
    margin-left: 0.5rem;
    align-items: center;
    
    .container-fluid {
        display: flex;
        flex-direction: row;
        gap: 1.7rem;
        width: 1700px;

        .two-for-one {
            background-color: #BBBBBB;
            height: 665px;
            width: 825px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                color: $color-white;
                font-size: 45px;
                font-weight: 700;
                padding-bottom: 0.5rem;
            }

            .button {
                width: 23%;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 30px;

            .col {
                height: 110px;
                width: 255px;
            }


            img {
                height: 210px;
                width: 100%;
            }
        }
    }

    .container-fluid-reverse {
        display: flex;
        flex-direction: row;
        gap: 1.7rem;
        width: 1700px;
        margin-top: 3rem;
        margin-left: 6.85rem;

        .two-for-one {
            background-color: #BBBBBB;
            height: 665px;
            width: 825px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 8px;

            h1 {
                color: $color-white;
                font-size: 45px;
                font-weight: 700;
                padding-bottom: 0.5rem;
            }

            .button {
                width: 23%;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 30px;

            .col {
                height: 110px;
                width: 255px;
            }


            img {
                height: 210px;
                width: 100%;
            }
        }
    }
}