.showcase {
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 100%);

    .container-fluid {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        margin-bottom: 4rem;

        .img {
            height: 850px;
        }
    }

        .offer {
            text-align: center;
            padding-top: 240px;

            h1 {
               
                font-size: 65px;
                font-weight: 700;
            }
        }

            h2 {
                
                font-size: 65px;
                font-weight: 700;
                padding-bottom: 30px;
            }

            p {
                font-size: 20px;
                padding-bottom: 40px;
            }
}